.AllCarouselContent {
  margin-bottom: 12rem;
}

.cardImg {
  width: 4.2rem;
  border-radius: 2.1rem;
}

.AllCarouselContent h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #f67280;
}

.AllCarouselContent p {
  font-size: 0.8rem;
  color: #f67280;
}

.TeamCard {
  margin-bottom: 3rem;
}

.cardTexts {
  /* padding-right: -20px; */
}
