.inspireForm {
  margin: 5% 15%;
}

.inspireFirstRow {
  height: 10%;
  font-size: 2rem;
}

.inspireFormHero {
  color: #6c567b;
  margin-bottom: 2em;
  text-align: center;
}

.inspireInputBox::-webkit-input-placeholder {
  font-size: 1rem;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #6c567b;
}

.inspireButton {
  background-color: #6c567b;
  color: white;
  cursor: pointer;
  width: 13.75rem;
  height: 3.25rem;
  font-size: 1.5rem;
  border-radius: 3.125rem;
  border-style: hidden;
  box-shadow: 0 0.6875rem 1.5rem -0.4375rem #b3b3b3;
}

.inspireButton:hover {
  background-color: #f8b195 !important;
}

.inspireButtonRow {
  display: flex;
  justify-content: center;
}

.inspireInputBox {
  border-color: #a3928b !important;
  background-color: #f4f4f4 !important;
}
