.content-container,
.content-container img {
  width: 35.625rem;
  height: 19.25rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

#say-her-name {
  color: #6c567b;
  font-size: 2rem;
  padding-left: 1rem;
}

#say-her-name span {
  color: #9dafbd;
  font-size: 0.8rem;
  font-weight: lighter;
}

#fight-for-girls {
  color: #f8b195;
  font-size: 3rem;
}

#open-letter {
  color: #f8b195;
  font-weight: bold;
  font-size: 3rem;
}

#open-letter span {
  color: #9dafbd;
  font-size: 0.8rem;
  font-weight: lighter;
}

.content-columns {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #6c567b;
  margin-top: 1.5rem;
  margin-left: 6rem;
  color: white;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  width: 10.625rem;
  height: 3.75rem;
  font-size: 1.375rem;
  border-radius: 2.1875rem;
  border-style: hidden;
  box-shadow: 0px 11px 24px -7px #b3b3b3;
  align-self: flex-start;
}
button:hover {
  background-color: #f8b195;
  border-style: hidden;
}
