.readMoreButton {
  color: #fff;
  display: block;
  margin-top: 30px;
  padding: 0.8em 1.5em;
  background: #6c567c;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.082);
  border-radius: 5em;
  border: none;
}

.readMoreButton:active {
  outline: none;
}

.readMoreButton:hover {
  text-decoration-color: none;
}

.blogContainer {
  text-align: justify;
  margin: 100px auto;
}

.blogTitle {
  margin-bottom: 1em;
  color: #6c567b;
  font-size: 30px;
}

.blogBody {
  color: #4a474d;
  font-size: 20px;
  line-height: 150%;
}

.roundImage {
  width: 18em;
  height: 18em;
  align-self: center;
}

hr {
  border-top: 5px dotted lightgray;
  width: 2%;
}

.blogCardBox {
  margin-left: 2em;
}
