
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.inspire_Home{
 font-family: 'Roboto', sans-serif;
 text-align: center;
}
.inspireHeader{
    font-size: 46px;
}
.pinkSpanInspire{
    color: #E87A80;
}
.purpleSpanInspire{
    color: #6C567C;
}
.greyParaInspire{
    color: #4A474D;
    font-size: 30px;
}
.InspireButton{
background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 300px;
  height: 100px;
  font-size: 60px;
  border-radius: 50px;
  border-style: hidden;
  box-shadow: 0px 11px 24px -7px #b3b3b3;
}
.InspireButton:hover{
background-color: #f8b195;
}


/********************************************** Phone ***********************************************/

@media only screen and (max-width: 375px)  {
    .greyParaInspire{
        font-size: 20px;
    }
    .inspireHeader{
        font-size: 35px;
    }
    .InspireButton{
        font-size: 30px;
    }
}


/********************************************** Tablet Vertical ***********************************************/

@media only screen and (max-width: 775px) and (min-width: 376px)  {
    .greyParaInspire{
        font-size: 30px;
    }
    .inspireHeader{
        font-size: 44px;
    }
    .InspireButton{
        font-size: 48px;
    } 
}


/********************************************** Tablet horizontal ***********************************************/
@media only screen and (max-width: 1024px) and (min-width: 776px)  {
    .greyParaInspire{
        font-size: 30px;
    }
    .inspireHeader{
        font-size: 46px;
    }
    .InspireButton{
        font-size: 60px;
    }     
}