.newsletterTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1rem;
  text-align: center;
  color: #6c567c;
  margin-top: 4rem;
}

.newsletterInput {
  outline: none;
  margin: 3rem 0;
}

.newsletterBar {
  background: #f4f4f4;
  border: none;
  border-radius: 42.5rem;
  /* width: 36.0625rem; */
  height: 4rem;
  text-indent: 1.5rem;
  font-size: 1.25rem;
}

.newsletterButton {
  background-color: #6c567b;
  color: white;
  cursor: pointer;
  width: 10rem;
  font-size: 1.25rem;
  border-radius: 2.1875rem;
  border-style: hidden;
}

.newsletterButton:hover {
  background-color: #f8b195;
  border-style: hidden;
}
