* {
 margin: auto;
}

.articleContainer {
  margin: 10em auto 5em auto;
}

.textBodyHolder {
  width: 70%;
  text-align: justify;
  margin: auto;
}

.articleTitle {
  color: #f8b195;
  margin-bottom: 2rem;
}

.articleImage {
  width: 35em;
}

.articleBody {
  line-height: 2rem;
  margin: 3em auto;
  color: #4a474d;
  width: 80%;
}

