body {
 margin: 0;
 padding: 0;
 font-family: roboto;
}

/* Navbar  */

.navbar {
padding: 0;
height: 70px;
width: 100%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.navbar-light .navbar-nav .nav-link {
 color: #6C567B;
 justify-content: flex-end;
 font-family: Roboto;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 16px;
}

.navLinksContainer {
 margin-left: 225px;
}

.navbar-light .navbar-nav .nav-link:hover {
 color: #F8B195;
 justify-content: flex-end;
}

.navbarBrand {
 margin-left: 140px;
}

.brandLogo {
 height: 70px;
 width: 70px;
}

/* Button  */

.buttonGroup {
 margin-left: 12em;
}

.filledButton, .outlinedButton {
 box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.2);
 font-size: 14px;
 justify-content: center;
 width: 80px;
 height: 36px;
 margin: .3000em;
 border-radius: 40px;
}

.filledButton {
 background-color: #6C567B;
 outline: none;
 border: none;
}

.outlinedButton {
 color: #F8B195;
 border-color: #F8B195;
}

.filledButton:hover {
 background-color: #fff;
 color: #6C567B;
 border: #6C567B 1px solid;
}

.outlinedButton:hover {
 color: #fff;
 background-color: #F8B195;
}

#dropdown-item-button {
 background-color: transparent;
 width: auto;
 font-size: 12px;
 border: none;
 color: #6C567B;
}

#dropdown-item-button:active {
 box-shadow: none !important;
 border: none !important;
 outline: none !important;
}

.dropdown-toggle::after  {
 color: #F8B195;
 margin-right: 60px;
}

.dropdown-menu {
 font-size: 12px;
}

@media only screen and (max-width: 768px) {
 .navLinksContainer {
 margin-left: 50px;
 }

 .dropdown-toggle::after  {
 margin-right: 0px;
 }

 .navbarBrand {
 margin-left: 30px;
}

 .buttonGroup {
  margin-left: 4.2em;
 }

 .filledButton, .outlinedButton {
 box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.2);
 font-size: 10px;
 width: 60px;
 height: 30px;
 margin: .3000em;
 border-radius: 40px;
}

}