.navbar {
  padding: 0;
  height: 5em;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

/* bootstrap class  */
.navbarMainContent.navbar-toggler.collapsed {
  position: absolute;
  margin-left: 5%;
}

/* bootstrap class */
.navbar-light .navbar-nav .nav-link {
  color: #6c567b !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

/* bootstrap class */
.navbar-collapse {
  justify-content: flex-end;
}

/* bootstrap class */
.navbar-light .navbar-nav .nav-link:hover {
  color: #f8b195 !important;
  justify-content: flex-end;
}

.navbarBrand {
  margin-left: 3em;
}

.brandLogo {
  height: 70px;
  width: 70px;
}

.buttonGroup {
  margin-left: 11em;
}

.signupFilledButton,
.loginOutlinedButton {
  box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.116);
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  margin: 0.3em;
  border-radius: 40px !important;
}

.signupFilledButton {
  background-color: #6c567b !important;
  color: #fff !important;
  outline: none;
  border: none !important;
}

.loginOutlinedButton {
  color: #f8b195 !important;
  border-color: #f8b195 !important;
}

.signupFilledButton:hover {
  background-color: #fff !important;
  color: #6c567b !important;
  border: #6c567b 1px solid !important;
}

.signupFilledButton:active {
  color: #fff;
  outline: #6c567b 1px solid;
  color: #6c567b;
  box-shadow: none;
}

.signupFilledButton:focus {
  background-color: #6c567b;
  color: #fff;
  box-shadow: none;
}

.loginOutlinedButton:hover {
  color: #fff !important;
  background-color: #f8b195;
}

/* bootstrap class */
.dropdown-toggle {
  background-color: transparent;
  width: auto;
  font-size: 12px;
  border: none;
  color: #6c567b;
}

/* bootstrap class */
.dropdown-toggle:active {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

/* bootstrap class */
.dropdown-toggle::after {
  color: #f8b195;
  margin-right: 3em;
}

/* bootstrap class */
.dropdown-menu {
  font-size: 12px;
}

@media only screen and (min-device-width: 998px) and (max-device-width: 1024px) {
  .navLinksContainer {
    margin-left: 15em;
  }

  /* bootstrap class */
  .dropdown-toggle::after {
    margin-right: 0px;
  }

  .navbarBrand {
    margin-left: 30px;
  }

  .buttonGroup {
    margin-left: 4em;
  }

  .signupFilledButton,
  .loginOutlinedButton {
    box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.2);
    font-size: 10px;
    width: 80px;
    height: 30px;
    margin: 0.3em;
    border-radius: 40px;
  }
}

@media only screen and (min-device-width: 850px) and (max-device-width: 998px) {
  /* bootstrap class */
  .dropdown-toggle::after {
    margin-right: 0px;
  }

  .navbarBrand {
    margin-left: 50px;
  }

  .buttonGroup {
    margin-left: 5em;
  }

  .signupFilledButton,
  .loginOutlinedButton {
    box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.2);
    font-size: 10px;
    width: 70px;
    height: 30px;
    margin: 0.3em;
    border-radius: 40px;
  }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 850px) {
  /* bootstrap class */
  .dropdown-toggle::after {
    margin-right: 0px;
  }

  .navbarBrand {
    margin: auto;
  }

  .navLinkText {
    font-size: 12px !important;
  }

  .buttonGroup {
    margin-left: 1em;
  }

  /* bootstrap class */
  .navbar-collapse {
    justify-content: space-around !important;
  }

  .signupFilledButton,
  .loginOutlinedButton {
    box-shadow: 0px 10px 20px rgba(49, 49, 49, 0.2);
    font-size: 9px;
    width: 60px;
    height: 20px;
    margin: 0.2em;
    border-radius: 40px;
  }
}

.userPhoto:hover {
  cursor: pointer;
}
