@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

.sentence {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-weight: bold;
  color: #6c567b;
  text-shadow: 0rem 0.3125rem 0.3125rem #cecece;
}

.learnBtn {
  background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 10.625rem;
  height: 3.75rem;
  font-size: 1.375rem;
  border-radius: 2.1875rem;
  border-style: hidden;
  box-shadow: 0rem 0.6875rem 1.5rem -0.4375rem #b3b3b3;

}

.learnBtn:hover {
  background-color: #f8b195;
  border-style: hidden;
}

.leftPart {
  margin-left: 6%;
  /* float: left; */
  /* padding-right: 60%; */
  /* padding-bottom: 90%; */
  /* padding-top: 5%; */
}

span {
  color: #f8b195;
}

/* ----------------- carousel --------------- */

.rightPart {
  /* position: relative; */
  height: 28.125rem;
  width: 53.125rem;
  margin-left: -5%;
  z-index: -1;
  /* padding-left: 26%; */
  /* float: left; */
  margin-top: 10%;
}

.carouselImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calouselTrackContainer {
  height: 100%;
  position: relative;
  /* background-image: url("./womenright.png"); */

}

.carousleTrack {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carouselBtn {
  background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.375rem;
  border-radius: 1.25rem;
  border-style: hidden;
  box-shadow: 0rem 0.6875rem 1.5rem -0.4375rem #8f8f8f;
  display: inline;
  margin: 3.125rem 0.75rem;
}

.carouselBtn:hover {
  background-color: white;
  color: #8f8f8f;
  border-style: hidden;
}

.carouselBtns {
  margin-left: 42%;
}

/* ----------- soclia Media handlers ----------*/

.socialMediaIconsPart {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 6.25rem;
}

.icon {
  margin-top: 0.625rem;
}
/* ----------- All content ----------*/

.allContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ------------- animated carousel --------------*/
/* .calouselTrackContainer:before{
  background-image: url("./womenright.png");
  animation: animate infinite 5s;
}

@keyframes animate{
  0%{
    background-image: url("./womenright.png");
  }

  50%{
    background-image: url("https://static.wixstatic.com/media/72c0b2_36d01136c39a4c1f8eef128d4413bdc4~mv2.png/v1/fill/w_1000,h_571,al_c,usm_0.66_1.00_0.01/72c0b2_36d01136c39a4c1f8eef128d4413bdc4~mv2.png");
  }

  100%{
    background-image: url("https://us.123rf.com/450wm/helgakhorimarko/helgakhorimarko1801/helgakhorimarko180100089/93833231-stock-vector-diverse-international-and-interracial-group-of-standing-women-we-are-stronger-together-text-for-girl.jpg?ver=6");
  }

} */

