@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

/* ----------- All content ----------*/
.allContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ---------- left content ----------*/
.leftPart {
  margin-left: 6%;
}

.sentence {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-weight: bold;
  color: #6c567b;
  text-shadow: 0rem 0.3125rem 0.3125rem #cecece;
}

.learnBtn {
  background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 10.625rem;
  height: 3.75rem;
  font-size: 1.375rem;
  border-radius: 2.1875rem;
  border-style: hidden;
  box-shadow: 0rem 0.6875rem 1.5rem -0.4375rem #b3b3b3;
}

.learnBtn:hover {
  background-color: #f8b195;
  border-style: hidden;
}

span {
  color: #f8b195;
}

/* ----------------- mid content --------------- */
.midPart {
  height: 28.125rem;
  width: 53.125rem;
  margin-left: -5%;
  z-index: -1;
  margin-top: 10%;
}

.calouselTrackContainer {
  height: 100%;
  position: relative;
}

/* .carouselBtn {
  background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.375rem;
  border-radius: 1.25rem;
  border-style: hidden;
  box-shadow: 0rem 0.6875rem 1.5rem -0.4375rem #8f8f8f;
  display: inline;
  margin: 3.125rem 0.75rem;
} */

/* .carouselBtn:hover {
  background-color: white;
  color: #8f8f8f;
  border-style: hidden;
} */

/* .carouselBtns {
  margin-left: 42%;
} */

/* ----------- soclia Media content ----------*/
.socialMediaIconsPart {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 6.25rem;
}

.icon {
  margin-top: 0.625rem;
}
