.allContentHomeCarousel {
  padding-left: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.sentenceAndButton {
  margin-left: 7%;
}

.sentence h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #6c567b;
  text-shadow: 0rem 0.3125rem 0.3125rem #cecece;
}

.learnBtn {
  background-color: #6c567b;
  color: white;
  cursor: pointer;
  width: 10.625rem;
  height: 3.75rem;
  font-size: 1.375rem;
  border-radius: 2.1875rem;
  border-style: hidden;
  box-shadow: 0rem 0.6875rem 1.5rem -0.4375rem #b3b3b3;
}

.learnBtn:hover {
  background-color: #f8b195;
  border-style: hidden;
}

.sentence span {
  color: #f8b195;
}

.carouselImgs {
  width: 60%;
  margin-left: -7%;
  z-index: -1;
  margin-top: 5%;
}

.socialMediaIcons {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.homeIcon {
  border-radius: 50%;
  margin-top: 0.625rem;
  font-size: 1.5rem;
  color: #6c567b;
}

@media only screen and (max-width: 1023px) and (min-width: 771px) {
  .sentence h1 {
    font-size: 2.5rem;
  }
  .learnBtn {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
  }
}

@media only screen and (max-width: 770px) {
  .sentence h1 {
    font-size: 1rem;
  }
  .learnBtn {
    width: 7rem;
    height: 2.8rem;
    font-size: 1rem;
    border-radius: 1.4rem;
  }
}
