.footerContainer {
  background: rgba(248, 177, 149, 0.603);
  color: #6c567b;
  display: flex;
}

.footerRow {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

.footerBlurbTitle {
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 2.875rem;
  color: #6c567b;
}

.footerBlurbText,
.footerContactText {
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.03125rem;
  color: rgba(108, 86, 123, 0.83);
}

.footerContactTitle,
.footerSocialTitle {
  font-weight: bold;
  font-size: 1.5625rem;
  line-height: 2.875rem;
  color: #6c567b;
}

.footerIcons {
  padding: 0.3125rem;
  font-size: 2rem;
}
