.footerContainer {
  background: rgba(248, 177, 149, 0.603);
  color: #6c567b;
  display: flex;
}

.footerRow {
  margin: 3% 0;
  display: flex;
  justify-content: space-between;
}

.footerBlurbText,
.footerContactText {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.03125rem;
  color: rgba(108, 86, 123, 0.83);
}
.footerTitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.8rem;
  color: #6c567b;
}

.footerIcons {
  padding: 0.3rem;
  font-size: 2rem;
}
