.selectors {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	background: rgba(0, 0, 0, 0.1);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    z-index: 1;
}

.selector {
    border: 1px solid white;
    background: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 5px 0;
    opacity: 0.6;
    cursor: pointer;
    transition: background .3s ease-in-out, opacity .3s ease-in-out;
}

.selector:hover.active {
    background: white;
    opacity: 0.9;
}

section.wrapper {
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: background-image 500ms ease-in-out;
}

aside.panel {
	width: 40vw;
	height: 100%;
	opacity: 0.9;
	color: white;
	box-shadow: 5px 0 25px 0 rgba(0, 0, 0, 0.3);
    transition: background 500ms ease-in-out;
}

h2.panel-header, p.panel-info {
    margin: 0;
    padding: 1.3rem 3.5rem;
}


h2.panel-header {
    padding-top: 2em;
    font-weight: normal;
    font-size: 2.5rem;
}

p.panel-info {
    font-size: 1.2rem;
    line-height: 1.8em;
}

button.panel-button {
    margin: 1.3rem 3.5rem;
    padding: 0.8em 1.3em;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

button.panel-button:hover{
    box-shadow: inset 0 0 1.5em 1.5em white;
}

button.panel-button:focus{
    outline: none;
}