.allContent {
  margin-top: 2rem;
}

.allContent h2 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #6c567c;
}

.allContent p {
  font-size: 1.4rem;
  color: #4a474d;
}

.articleContainer {
  margin-top: 2rem;
  margin-bottom: 6rem;
}
