.aboutArticlesContainer {
  margin-top: 1.5rem;
}

.aboutArticlesContainer h2 {
  margin-bottom: 1.5rem;
  color: #6c567c;
}

.aboutArticlesContainer p {
  color: #4a474d;
}

.aboutArticleContainer {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
