.inspireContainer {
  text-align: center;
  margin: 0 15%;
}

.inspireHeader {
  font-size: 2.875rem;
}

.pinkInspire {
  color: #e87a80;
}

.purpleInspire {
  color: #6c567c;
}

.heroText {
  color: #4a474d;
  font-size: 1.875rem;
}

.inspireButton {
  background-color: #6c567b;
  color: white;
  cursor: pointer;
  width: 14rem;
  height: 4rem;
  font-size: 3rem;
  border-radius: 3.125rem;
  border-style: hidden;
  box-shadow: 0 0.6875rem 1.5rem -0.4375rem #b3b3b3;
  margin-bottom: 2%;
}

.inspireButton:hover {
  background-color: #f8b195;
}
