@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.inspireHome {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.inspireHeader {
  font-size: 2.875rem;
}

.pinkSpanInspire {
  color: #e87a80;
}

.purpleSpanInspire {
  color: #6c567c;
}

.greyParaInspire {
  color: #4a474d;
  font-size: 1.875rem;
}

.inspireButton {
  background-color: #6c567b;
  color: white;
  font-family: "Roboto";
  cursor: pointer;
  width: 18.75rem;
  height: 6.25rem;
  font-size: 3.75rem;
  border-radius: 3.125rem;
  border-style: hidden;
  box-shadow: 0 0.6875rem 1.5rem -0.4375rem #b3b3b3;
}

.inspireButton:hover {
  background-color: #f8b195;
}
